/* Start Header */

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.elements__first {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.elements__second {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    font-size: 40px;
    color: var(--textColor);
    font-weight: bold;
}

.logo__image {
    display: flex;
    padding-bottom: 5px;
}



.header__nav__first ul {
    display: flex;
    column-gap: 10px;
    padding-top: 5px;
}


.header__nav__second ul {
    display: flex;
    column-gap: 10px;
    padding-top: 5px;
}

.header__nav__first a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 7px 15px;
}



.header__nav__second a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 15px;
}




.Sign_in{
    position: relative;
    display: flex;
}

.button {
    display: flex;
    margin-top: 5px;
}

.button img {
    padding: 5px;
    margin-top: -5px;

}

.button img:hover {
    background-color: #ffffff34;
    border-radius: 30px;
    transition: .5s;
}

.Sign_in span{
    position: relative;
    content: url(../../static/clarity_sign-in-solid.svg);
    padding-right: 5px;
    top: -2px
}

.docs span{
    content: url(../../static/docs.svg);
    padding-right: 5px;
}

.commands {
    position: relative;
    bottom: 2px;
}

.commands span{
    position: relative;
    content: url(../../static/clarity_cog-solid.svg);
    padding-right: 5px;
    top: 2px
}

.support_us span{
    position: relative;
    content: url(../../static/solar_heart-bold.svg);
    padding-right: 5px;
    top: 1px;
}

.header__nav__first ul li a {
    text-transform: uppercase;
}

.header__nav__second ul li a {
    text-transform: uppercase;
}

a.active, a:hover {
    background-color: #ffffff34;
    transition: .5s;
    border-radius: 58px
}

/* End Header */