/* Start Header */
.header  {
    display: flex;
    position: relative;
    min-width: 1456px;
    height: 101px;
    background-color: #352C31;
    align-items: center;
    padding: 10px 80px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1456px;
    height: 75px;
    position: absolute;
    /* padding: 13px 40px; */
    margin: 10px 50px;
}

.elements_1 {
    position: relative;
    display: flex;
    align-items: center;
    width: 1456px;
}

.logo{
    width: 289px;
    height: 75px;
    padding: 10px;
    position: relative;
}

.logo_link {
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
}


.logo_name {
    position: relative;
    display: block;
    top: 5px;
    padding-left: 10px;
}

.nav {
    width: 384px;
    height: 31px;
    display: flex;
    align-items: center;
    position: relative;
}

.list_nav {
    display: flex;
    align-items: center;
    position: absolute;
}

.items_link {
    position: relative;
    display: flex;
    padding-left: 30px;
}

.link_nav {
    position: relative;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.elements_2 {
    position: relative;
    display: flex;
}

.nav_2 {
    width: 160px;
    height: 28px;
    display: flex;
    align-items: center;
    position: relative;
}

/* End Header */